<app-banner title="{{title}}Player"></app-banner>

    <div class="container mt-2">
        <div class="row">
          <div class="col-lg-12">
            <form #addMatchForm="ngForm" (ngSubmit)="addEditplayer()">
              <div class="form-group">
                <input type="text"  [ngModelOptions]="{ standalone: true }" [(ngModel)]="player.name" class="form-control" placeholder="name">
              </div>
              
              <div class="form-group">
                <input type="text" [ngModelOptions]="{ standalone: true }" [(ngModel)]="player.name"   class="form-control" placeholder="age">
              </div>
              
              <div class="form-group">
                <input type="email" [ngModelOptions]="{ standalone: true }" [(ngModel)]="player.post"  class="form-control" placeholder="Post">
              </div>
              <div class="form-group">
                <input type="email" [ngModelOptions]="{ standalone: true }" [(ngModel)]="player.nbr"  class="form-control" placeholder="Nbr">
              </div>

              <div class="form-group">
                <button type="submit"  class="btn btn-primary py-3 px-5">save</button>
              </div>
            </form>  
          </div>
          
        </div>
      </div>
  